In [12]:
import numpy as np, pandas as pd
from glob import glob
from fetch_data import fetch_data

In [13]:
data_home_team = fetch_data(20240201,20240331,'home_team')


data_away_team = fetch_data(20240201,20240331,'away_team')

/home/nima/data_science/tennis_project/SofaScore-Tennis-Analysis/notebooks/fetch_data.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat(dataframes,ignore_index=True)
/home/nima/data_science/tennis_project/SofaScore-Tennis-Analysis/notebooks/fetch_data.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat(dataframes,ignore_index=True)

In [14]:
total_data = pd.concat([data_away_team,data_home_team])

In [15]:
unique_columns = ["name","slug"]
unique_data = total_data.drop_duplicates(subset=unique_columns)

mask_columns = ["name","height"]
unique_height_data = unique_data[mask_columns]

In [17]:
mean_height = np.mean(unique_height_data["height"])
correct_unique_height_data = unique_height_data.fillna(mean_height)

In [22]:
correct_unique_height_data.to_csv("../data/external/players_height.csv",index=False)

correct_unique_height_data

                         name    height
0          Auger-Aliassime F.  1.930000
1                  Cobolli F.  1.830000
2                 Martínez P.  1.850000
3                   Muller A.  1.830000
4                    Mayot H.  1.780000
...                       ...       ...
25009                Davis L.  1.570000
25019    Melichar-Martinez N.  1.810000
25147  Urribarrens Ramirez I.  1.821302
25562              Gadient N.  1.821302
25563            Oluwadare H.  1.821302

[2649 rows x 2 columns]

In [18]:
mean_height = float(mean_height)
mean_height

1.8213020439061318