# 3rd Question

### Which player has the highest number of wins?

Installing needed packages

In [24]:
%pip install numpy pandas matplotlib pyarrow

Requirement already satisfied: numpy in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (2.3.1)
Requirement already satisfied: pandas in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (2.3.1)
Requirement already satisfied: matplotlib in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (3.10.3)
Requirement already satisfied: pyarrow in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (20.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from matplotlib) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\shahab\documents\codes\sofascore-tennis-analysis\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

Importing needed packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob
import os

# Reading .parquet data
According to question and ERD in /data/ERD folder as Tennis Schema.pdf , We are analyzing which player has the highest win rate, Reading data of matchs
It might take few seconds to read data

In [ ]:
days_to_query = os.listdir("../data/raw/tennis_data")
# days_to_query = ["20240201","20240202","20240203"]
files_to_load = []

for day in days_to_query:
    files_to_load.extend(
        glob(
            f"../data/raw/tennis_data/{day}/data/raw/raw_statistics*/statistics_*.parquet"
        )
    )

tennis_statistics_data_frame = pd.concat(
    [
        pd.read_parquet(
            file,
            columns=[
                "match_id",
                "period",
                "statistic_name",
                "home_stat",
                "away_stat",
                "home_total",
                "away_total",
            ],
        )
        for file in files_to_load
    ],
    ignore_index=True,
)

,match_id,period,statistic_name,home_stat,away_stat,home_total,away_total
0,11998445,ALL,aces,12,6,NaN,NaN
1,11998445,ALL,double_faults,2,7,NaN,NaN
2,11998445,ALL,first_serve,57/101 (56%),53/90 (59%),101.0,90.0
3,11998445,ALL,second_serve,42/44 (95%),30/37 (81%),44.0,37.0
4,11998445,ALL,first_serve_points,42/57 (74%),39/53 (74%),57.0,53.0
...,...,...,...,...,...,...,...
95,11998446,1ST,first_serve_points,12/18 (67%),12/16 (75%),18.0,16.0
96,11998446,1ST,second_serve_points,7/11 (64%),9/12 (75%),11.0,12.0
97,11998446,1ST,service_games_played,5,5,NaN,NaN
98,11998446,1ST,break_points_saved,0/1 (0%),2/2 (100%),1.0,2.0
99,11998446,1ST,service_points_won,19,21,NaN,NaN

### Reading data of Matches and Teams

In [ ]:
days_to_query_ = os.listdir("../data/raw/tennis_data")
files_to_load_ = []

for day in days_to_query_:
    files_to_load_.extend(
        glob(
            f"../data/raw/tennis_data/{day}/data/raw/raw_match*/home_team_1*.parquet"
        )
    )

home_statistics_data_frame = pd.concat(
    [
        pd.read_parquet(
            file,
            columns=[
                "match_id",
                "name"
            ],
        )
        for file in files_to_load_
    ],
    ignore_index=True,
)

   match_id          name
0  11998445     Cazaux A.
1  11998446  Lestienne C.
2  11998447      Ćorić B.
3  11998448       Mmoh M.
4  11998449      Paire B.

In [ ]:
days_to_query__ = os.listdir("../data/raw/tennis_data")
files_to_load__ = []

for day in days_to_query__:
    files_to_load__.extend(
        glob(
            f"../data/raw/tennis_data/{day}/data/raw/raw_match*/away_team_1*.parquet"
        )
    )

away_statistics_data_frame = pd.concat(
    [
        pd.read_parquet(
            file,
            columns=[
                "match_id",
                "name"
            ],
        )
        for file in files_to_load_
    ],
    ignore_index=True,
)

   match_id          name
0  11998445     Cazaux A.
1  11998446  Lestienne C.
2  11998447      Ćorić B.
3  11998448       Mmoh M.
4  11998449      Paire B.