In [1]:
import numpy as np, pandas as pd
from glob import glob
from fetch_data import fetch_data

In [94]:
data_statistics = fetch_data(20240201,20240331,'statistics')

data_away_team = fetch_data(20240201,20240331,'away_team')

data_home_team = fetch_data(20240201,20240331,'home_team')

/home/nima/data_science/tennis_project/SofaScore-Tennis-Analysis/notebooks/fetch_data.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat(dataframes,ignore_index=True)
/home/nima/data_science/tennis_project/SofaScore-Tennis-Analysis/notebooks/fetch_data.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat(dataframes,ignore_index=True)

In [96]:
unique_columns = ["match_id","name","slug"]
data_away_team = data_away_team.drop_duplicates(subset=unique_columns)

data_home_team = data_home_team.drop_duplicates(subset=unique_columns)

In [97]:
double_faults = (data_statistics["statistic_name"] == "double_faults") & (data_statistics["period"] == "ALL")
data_statistics = data_statistics[double_faults]

unique_columns_stat = ["match_id","statistic_name"]
data_statistics = data_statistics.drop_duplicates(subset=unique_columns_stat)

In [98]:
away_statistics_data = pd.merge(data_away_team,data_statistics)

home_statistics_data = pd.merge(data_home_team,data_statistics)

In [99]:
mask_columns_away = ["match_id","name","gender","period","statistic_category_name","statistic_name","away_value"]
mask_columns_home = ["match_id","name","gender","period","statistic_category_name","statistic_name","home_value"]


away_statistics_data = away_statistics_data[mask_columns_away]
away_statistics_data = away_statistics_data.rename(columns={"away_value":"stat"})

home_statistics_data  = home_statistics_data[mask_columns_home]
home_statistics_data  = home_statistics_data .rename(columns={"home_value":"stat"})

In [100]:
data = pd.concat([away_statistics_data,home_statistics_data])

In [102]:
data.to_csv("../data/external/8/double_faults_state.csv",index=False)

In [103]:
results = data.groupby("gender")["stat"].sum()
results

gender
F    29816
M    29156
Name: stat, dtype: int64

In [104]:
difference_in_the_number_of_double_faults_based_on_gender = int(results["F"] - results["M"])
difference_in_the_number = difference_in_the_number_of_double_faults_based_on_gender
difference_in_the_number

660

In [105]:
results_mean = (results["F"] + results["M"]) / 2
difference_in_the_percentage = (difference_in_the_number/ results_mean) * 100

difference_in_the_percentage = float(difference_in_the_percentage)
difference_in_the_percentage

2.238350403581361