#### The longest match in tournament

In [37]:
import pandas as pd
import numpy as np
from glob import glob
import os

In [38]:
day_to_query = os.listdir("../data/raw/tennis_data")
load_match_files_home = []

for day in day_to_query:
    load_match_files_home.extend(
        glob(f"../data/raw/tennis_data/{day}/data/raw/raw_match_parquet/home_team_score_*.parquet", recursive=True)
    )
home_match_dataframe = pd.concat([pd.read_parquet(file) for file in load_match_files_home], ignore_index=True)

In [39]:
day_to_query = os.listdir("../data/raw/tennis_data")
load_match_files_away = []

for day in day_to_query:
    load_match_files_away.extend(
        glob(f"../data/raw/tennis_data/{day}/data/raw/raw_match_parquet/away_team_score_*.parquet", recursive=True)
    )
away_match_dataframe = pd.concat([pd.read_parquet(file) for file in load_match_files_away], ignore_index=True)

In [40]:
total_match_dataframe = pd.concat([home_match_dataframe,away_match_dataframe])
unique_match = total_match_dataframe[["match_id","period_1","period_2","period_3","period_4","period_5"]].fillna(0).drop_duplicates(subset="match_id")
display(unique_match)

C:\Users\moham\AppData\Local\Temp\ipykernel_15592\442517770.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  unique_match = total_match_dataframe[["match_id","period_1","period_2","period_3","period_4","period_5"]].fillna(0).drop_duplicates(subset="match_id")

       match_id  period_1  period_2  period_3  period_4  period_5
0      11974053         0         0         0         0         0
1      11974066         0         0         0         0         0
2      11998445         5         6         6         0         0
3      11998446         4         1         0         0         0
4      11998447         6         6         0         0         0
...         ...       ...       ...       ...       ...       ...
35159  12213482         6         6         0         0         0
35160  12213483         6         6         0         0         0
35161  12213484         6         6         0         0         0
35162  12213486         6         6         0         0         0
35163  12213803         6         6         0         0         0

[16873 rows x 6 columns]

In [41]:
unique_match['total_duration'] = (
    unique_match[['period_1', 'period_2', 'period_3', 'period_4', 'period_5']]
    .sum(axis=1)
)

longest_match = unique_match.loc[unique_match['total_duration'].idxmax()]

# Print the result
print("Longest Match Details:")
print(longest_match[['match_id', 'total_duration']])

Longest Match Details:
match_id          12041957
total_duration          31
Name: 1845, dtype: int64