#### The longest match in tournament

In [2]:
import pandas as pd
import numpy as np
from glob import glob
import os

In [3]:
day_to_query = os.listdir("../data/raw/tennis_data")
load_match_files_home = []

for day in day_to_query:
    load_match_files_home.extend(
        glob(f"../data/raw/tennis_data/{day}/data/raw/raw_match_parquet/home_team_score_*.parquet", recursive=True)
    )
home_match_dataframe = pd.concat([pd.read_parquet(file) for file in load_match_files_home], ignore_index=True)

In [4]:
day_to_query = os.listdir("../data/raw/tennis_data")
load_match_files_away = []

for day in day_to_query:
    load_match_files_away.extend(
        glob(f"../data/raw/tennis_data/{day}/data/raw/raw_match_parquet/away_team_score_*.parquet", recursive=True)
    )
away_match_dataframe = pd.concat([pd.read_parquet(file) for file in load_match_files_away], ignore_index=True)

In [5]:
total_match_dataframe = pd.concat([home_match_dataframe,away_match_dataframe])
unique_match = total_match_dataframe[["match_id","period_1","period_2","period_3","period_4","period_5"]].fillna(0).drop_duplicates(subset="match_id")
display(unique_match)

C:\Users\moham\AppData\Local\Temp\ipykernel_11632\442517770.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  unique_match = total_match_dataframe[["match_id","period_1","period_2","period_3","period_4","period_5"]].fillna(0).drop_duplicates(subset="match_id")

       match_id  period_1  period_2  period_3  period_4  period_5
0      11974053         0         0         0         0         0
1      11974066         0         0         0         0         0
2      11998445         5         6         6         0         0
3      11998446         4         1         0         0         0
4      11998447         6         6         0         0         0
...         ...       ...       ...       ...       ...       ...
35159  12213482         6         6         0         0         0
35160  12213483         6         6         0         0         0
35161  12213484         6         6         0         0         0
35162  12213486         6         6         0         0         0
35163  12213803         6         6         0         0         0

[16873 rows x 6 columns]

In [6]:
unique_match['total_duration'] = (
    unique_match[['period_1', 'period_2', 'period_3', 'period_4', 'period_5']]
    .sum(axis=1)
)

longest_match = unique_match.loc[unique_match['total_duration'].idxmax()]

# Print the result
print("Longest Match Details:")
print(longest_match[['match_id', 'total_duration']])

Longest Match Details:
match_id          12041957
total_duration          31
Name: 1845, dtype: int64

In [7]:
days_to_query_home = os.listdir("../data/raw/tennis_data")
homeinfo_load_files = []

for day in days_to_query_home:
    homeinfo_load_files.extend(
        glob(
            f"../data/raw/tennis_data/{day}/data/raw/raw_match_parquet/home_team_*.parquet", recursive=True
        )
    )
homeinfo_df = pd.concat([pd.read_parquet(file) for file in homeinfo_load_files], ignore_index=True)
display(homeinfo_df)

C:\Users\moham\AppData\Local\Temp\ipykernel_11632\645542202.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  homeinfo_df = pd.concat([pd.read_parquet(file) for file in homeinfo_load_files], ignore_index=True)

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,...,period_2,period_3,period_4,period_5,period_1_tie_break,period_2_tie_break,period_3_tie_break,period_4_tie_break,period_5_tie_break,normal_time
0,11998445,Cazaux A.,cazaux-arthur,M,4481.0,None,"Montpellier, France",1.83,NaN,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11998446,Lestienne C.,lestienne-constant,M,2032.0,"Paris, France","Amiens, France",1.80,72.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11998447,Ä†oriÄ‡ B.,coric-borna,M,12414.0,"Dubai, UAE","Zagreb, Croatia",1.88,85.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11998448,Mmoh M.,mmoh-michael,M,2206.0,"Bradenton, FL, USA","Riyadh, Saudi Arabia",1.88,90.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11998449,Paire B.,paire-benoit,M,6089.0,"Geneva, Switzerland","Avignon, France",1.96,80.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60769,12213482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,None,None,NaN,NaN,NaN,None,None,None
60770,12213483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,None,None,NaN,NaN,NaN,None,None,None
60771,12213484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,None,None,NaN,NaN,NaN,None,None,None
60772,12213486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,None,None,NaN,NaN,NaN,None,None,None
60773,12213803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,None,None,NaN,NaN,NaN,None,None,None

In [8]:
days_to_query_away = os.listdir("../data/raw/tennis_data")
awayinfo_load_files = []

for day in days_to_query_away:
    awayinfo_load_files.extend(
        glob(
            f"../data/raw/tennis_data/{day}/data/raw/raw_match_parquet/away_team_*.parquet", recursive=True
        )
    )
awayinfo_df = pd.concat([pd.read_parquet(file) for file in awayinfo_load_files], ignore_index=True)
display(awayinfo_df)

C:\Users\moham\AppData\Local\Temp\ipykernel_11632\1391548839.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  awayinfo_df = pd.concat([pd.read_parquet(file) for file in awayinfo_load_files], ignore_index=True)

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,...,period_2,period_3,period_4,period_5,period_1_tie_break,period_2_tie_break,period_3_tie_break,period_4_tie_break,period_5_tie_break,normal_time
0,11998445,Auger-Aliassime F.,auger-aliassime-felix,M,23318.0,"Monte Carlo, Monaco","Montreal, Canada",1.93,87.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11998446,Cobolli F.,flavio-cobolli,M,5995.0,Rome,"Florence, Italy",1.83,71.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11998447,MartÃ­nez P.,martinez-pedro,M,2621.0,"Valencia, Spain","Alzira, Spain",1.85,76.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11998448,Muller A.,muller-alexandre,M,2443.0,France,"Poissy, France",1.83,73.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11998449,Mayot H.,mayot-harold,M,1492.0,"Marly, France","Metz, France",1.78,78.0,right-handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59251,12213482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,None,None,NaN,NaN,NaN,None,None,None
59252,12213483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,None,None,NaN,NaN,NaN,None,None,None
59253,12213484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,None,None,NaN,NaN,NaN,None,None,None
59254,12213486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,None,None,NaN,NaN,NaN,None,None,None
59255,12213803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,None,None,NaN,NaN,NaN,None,None,None

In [14]:
totalinfo_df = pd.concat([homeinfo_df,awayinfo_df])

longest_match_detail = unique_match.merge(totalinfo_df[['match_id','full_name','player_id']], on='match_id')
max_time = longest_match_detail.loc[longest_match_detail['total_duration'].idxmax()]

print(max_time[["match_id","full_name","player_id","total_duration"]])

match_id                    12041957
full_name         Aubriot, Alexandre
player_id                   291050.0
total_duration                    31
Name: 7429, dtype: object